[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
langchain = "*"
langchain-openai = "*"
environs = "*"
langchain-community = "*"

[dev-packages]

[requires]
python_version = "3.11"
